/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-darkly: #121714; /* dark background */
  --color-greenix: #1c2621; /* foreground */
  --color-light-greenix: #404f45; /* stroke */
  --color-highlight: #30cc70; /* color for active elements */
  --color-less-highlight: #2b362e; /* color-primary-base */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Gothic A1", sans-serif;
  --default-font-family: var(--font-primary);
}

.squircle {
  --smooth-corners: 60;
  mask-image: paint(smooth-corners);
  -webkit-mask-image: paint(smooth-corners);
}
