/* styles/globals.css */
@import "tailwindcss";

@theme {
  --color-darkly: #121714; /* dark background */
  --color-greenix: #1c2621; /* foreground */
  --color-light-greenix: #404f45; /* stroke */
  --color-highlight: #30cc70; /* color for active elements */
  --color-less-highlight: #2b362e; /* color-primary-base */
}
